.details{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.backBtn{
    width: 50px;
    padding: 5px 25px;
    font-size: .8rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    transition: all .4s ease;
    cursor: pointer;
}

.backBtn a, .borderCountry a{
    text-decoration: none;
}

.backBtn__light, .borderCountry__light{
    background: #fff;
}

.backBtn__dark, .borderCountry__dark{
    background: hsl(209, 23%, 22%);
}

.backBtn__dark a, .borderCountry__dark a{
    color: #fff;
}


.backBtn__light a, .borderCountry__light a{
    color: hsl(200, 15%, 8%)
}

.backBtn:hover{
    transform: scale(1.05);
}

.countryDetails__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.countryDetails__img{
    width: 40%;
}

.countryDetails__img img{
    width: 100%;
}

.details__container{
    width: 50%;
    text-align: left;
}

.subdetails__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: .7rem;
}

.subdetails__col-2{
    margin-left: 60px;
}

.borderCountries__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: .8rem;
}

.borderCountries__container p{
    margin: 5px 5px 5px 0;
}

.borderCountries__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}

.borderCountry{
    font-size: .6rem;
    margin: 3px 5px;
    padding: 4px 6px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    border-radius: 2px;
}


@media(max-width: 991px){

    .subdetails__container{
        flex-direction: column;
    }
    .subdetails__col-2{
        margin-left: 0px;
    }

    .countryDetails__img{
        width: 50%;
    }
    .details__container{
        width: 40%;
    }
    
}

@media(max-width: 768px){
    .countryDetails__img{
        width: 60%;
    }
    .details__container{
        width: 30%;
    }

}

@media(max-width: 558px){
    .countryDetails__container{
        flex-direction: column;
        justify-content: flex-start;
    }

    .countryDetails__img, .details__container{
        width: 90%;
    }
}